@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-6">Car Rental Main Page</h1>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="col-8">
            <div class="text-black">
                <h4>Info</h4>
                <p>
                    Welcome to our Car Rental Website, Here you can search for cars to rent or Register and Rent your own cars!
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">something here.</div>
            <img src="" alt="Image here." />
        </div>
        <partial name="_CarFilterPartial" model="new GetCarViewModel()" />
    </div>
</div>