html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background: linear-gradient(to right, #010621, #1C2340);
}
.nav {
    background: linear-gradient(to right, #010621, #1C2340);
}
.footer {
    margin-top: auto;
}

.banner-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-container {
    height: 400px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    width: 100%;
}

.banner-image .banner-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.MAINPAGECONTAINER {
    background-color: #fff8f2;
}

.card-depth {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    background-color: #f9f6f4; /* Set lighter background color */
}

.card-title {
    color: #007bff; /* Set primary text color */
}

.card-text {
    color: #6c757d; /* Set secondary text color */
}
.card-add {
    width: 100%;
    height: 100%;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

 .card-add i {
        font-size: 64px;
 }
.profilecard {
    height: 100%;
}
.Car-title {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.Car-text {
    font-family: "Verdana", sans-serif;
    font-size: 16px;
}
/*.carousel-inner {
    position: relative;
}

    .carousel-inner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    .carousel-inner img {
        position: relative;
        z-index: 2;
    }*/
.CarCard {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CarBody {
    flex-grow: 1;
}

.CARIMAGETOPCARD {
    height: 200px;
    object-fit: cover;
}

.CarAddCard {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff;
    border: 2px solid #007bff;
}
.bwcar{
    width:100%;
}
.FFdiv {
    background-color: transparent;
    /*    background-color: rgba(255, 255, 255, 0); */
    padding: 20px;
    border: none;
    color: aliceblue;
    font-family: "Arial", sans-serif;
}
.HH2AddCar {
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 54px;
    font-weight: bold;
}
.ProfCard {
    /*background: linear-gradient:#01001f;*/
    background-color: #020121 !important;
    border-radius: 10px;
    color: wheat;
    font-family: "Arial", sans-serif;
}