@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@using Car_Rental_Portal_Project_MVC.Models.Enums;
@model CarFilterViewModel

<form class="needs-validation" novalidate>
    <div class="form row">
        <div class="form-group col-md-3">
            <label asp-for="Manufacturer">Manufacturer</label>
            <input type="text" class="form-control form-control-sm" id="validationTooltip01" placeholder="Manufacturer" value="" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Model">Model</label>
            <input type="text" class="form-control form-control-sm" id="validationTooltip02" placeholder="Model" value="" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Year">Year</label>
            <input type="number" class="form-control form-control-sm" id="validationTooltip03" placeholder="Year" value="" required min="1900" max="2023">
            <div class="invalid-tooltip">
                Please provide a valid year.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Price">Price</label>
            <input type="number" class="form-control form-control-sm" id="validationTooltip04" placeholder="Price" value="" required min="0">
            <div class="invalid-tooltip">
                Please provide a valid price.
            </div>
        </div>
    </div>
    <div class="form row">
        <div class="form-group col-md-3">
            <label asp-for="Engine">Engine</label>
            <input type="number" class="form-control form-control-sm" id="validationTooltip05" placeholder="Engine" value="" required step="0.01">
            <div class="invalid-tooltip">
                Please provide a valid engine value.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Transmission">Transmission</label>
            <select asp-for="Transmission" class="form-control form-control-sm" id="validationTooltip06" required>
                <option value="" selected disabled>Select</option>
                @foreach (var transmissionValue in Enum.GetValues(typeof(TransmissionEnum)))
                {
                    <option value="@transmissionValue">@transmissionValue.ToString()</option>
                }
            </select>
            <div class="invalid-tooltip">
                Please select a transmission type.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="FuelType">Fuel Type</label>
            <select asp-for="FuelType" class="form-control form-control-sm" id="validationTooltip07" required>
                <option value="" selected disabled>Select</option>
                @foreach (var fuelTypeValue in Enum.GetValues(typeof(FuelTypeEnum)))
                {
                    <option value="@fuelTypeValue">@fuelTypeValue.ToString()</option>
                }
            </select>
            <div class="invalid-tooltip">
                Please select a fuel type.
            </div>
        </div>

            <div class="invalid-tooltip">
                Please select a fuel type.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="FuelTank">Fuel Tank</label>
            <input type="number" class="form-control form-control-sm" id="validationTooltip08" placeholder="Tank" value="" required>
            <div class="invalid-tooltip">
                Please provide a valid tank capacity.
            </div>
        </div>
    </div>
    <div class="form row">
        <div class="form-group col-md-3">
            <label asp-for="WheelType">Wheel Type</label>
            <select class="form-control form-control-sm" id="validationTooltip09" required>
                <option value="" selected disabled>Select</option>
                <option value="1">Front</option>
                <option value="2">Rear</option>
                <option value="3">All</option>
            </select>
            <div class="invalid-tooltip">
                Please select a wheel type.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Location">Location</label>
            <input type="text" class="form-control form-control-sm" id="validationTooltip10" placeholder="Location" value="" required>
            <div class="invalid-tooltip">
                Please provide a valid location.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="PeopleAmount">People Amount</label>
            <input type="number" class="form-control form-control-sm" id="validationTooltip11" placeholder="People" value="" required min="0">
            <div class="invalid-tooltip">
                Please provide a valid number of people.
            </div>
        </div>
        <div class="form-group col-md-3 mt-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </div>

</form>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}