@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@model AddCarViewModel
<div class="row justify-content-center">
    <div class="col-md-12">
        <h2>Add Your Car.</h2>
        <div class="form">
            <form asp-controller="Car" asp-action="AddCar" class="form-control" method="post" role="form" class="form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Manufacturer">Manufacturer</label>
                    <input asp-for="Manufacturer" class="form-control" />
                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model">Model</label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year">Year</label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Engine">Engine</label>
                    <input asp-for="Engine" class="form-control" />
                    <span asp-validation-for="Engine" class="text-danger"></span>
                </div>
                <div class="form-group">
@*
                    @Html.DropDownList("EnumDropDown",ViewBag.EnumList as SelectList)*@

                    <select class="form-select" aria-label="Default select example">
                        <option selected>--Transmission--</option>
                        @foreach (var x in ViewBag.EnumList)
                        {
                            <option value="@x.ToString()">@x.ToString()</option>
                        }
                    </select>


                    <label asp-for="Transmission"></label>
                    <input asp-for="Transmission" type="text" class="form-control" />
                    <span asp-validation-for="Transmission" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label asp-for="FuelType">FuelType</label>
                    <input asp-for="FuelType" class="form-control" />
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FuelTank">FuelTank</label>
                    <input asp-for="FuelTank" class="form-control" />
                    <span asp-validation-for="FuelTank" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WheelType">WheelType</label>
                    <input asp-for="WheelType" class="form-control" />
                    <span asp-validation-for="WheelType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location">Location</label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-success form-control">Add Car</button>
                </div>


            </form>
        </div>
    </div>
</div>