@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@model GetCarViewModel

<form asp-controller="Car" asp-action="DeleteCar" class="form-control" method="post" class="form">
    <div asp-validation-summary="All" class="text-danger"></div>
<h1>
    Congrats ! Car Detelet Successfulli
</h1>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}